# Images
POSTGRES_IMAGE=postgres:16-alpine
ZOOKEEPER_IMAGE=confluentinc/cp-zookeeper:7.6.1
KAFKA_IMAGE=confluentinc/cp-kafka:7.6.1

# Ports
API_SERVICE_PORT=8080
DATA_SERVICE_PORT=8081
POSTGRES_PORT=5432
KAFKA_PORT=9092

# Postgres
POSTGRES_DB=kafka_laba
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/kafka_laba?sslmode=disable
POSTGRES_HEALTHCHECK_INTERVAL=5s
POSTGRES_HEALTHCHECK_TIMEOUT=5s
POSTGRES_HEALTHCHECK_RETRIES=10

# Zookeeper
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

# Kafka
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_HEALTHCHECK_INTERVAL=10s
KAFKA_HEALTHCHECK_TIMEOUT=10s
KAFKA_HEALTHCHECK_RETRIES=10
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC=blog-events
